*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 10px;
    min-height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    img{
        width: 100%;
        height: 300px;
    }
    .write{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .pre{
            height: 70px;
            font-size: 12px;
        }
        
        .btn{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            Button{
                width: 60%;
                height: 30px;
                border: none;
                background-color: black;
                color: white;
                border-radius: 10px;
                margin: 10px;
                cursor: pointer;

            }
        }
    }
}

@media screen and (max-width:991px) {
    .container{
        width: 45%;
    }
}
@media screen and (max-width:600px) {
    .container{
        
        width: 95%;
    }
}